<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**MICHAEL HUANG**

Finance manager

_I am interested in Data Science because it can be a powerful tool to help increasing my performance at work_

### The following code will demonstrate a loop that iterates over the range of numbers from 0 to 9 and prints each number to the console on a new line.

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### Rank Top 5 NBA teams 2023 Season

---

1. Boston Celtics
2. Denver Nuggets
3. Pheonix Suns
4. Milwuakee Bucks
5. Cleveland Cavaliers

| Brand | Color | Cost |
| ---   | ---   | ---  |
| BMW   | Blue  | 50K  |
| Audi  | Black | 50K  |
| Porsche | Red | 70K  |